{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Contato - Tô Aqui Festas</title>

    {% include 'includes/css.html' %}


</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">


            {% include 'includes/header.html' %}


        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="page-header flex-wrap">
                        <div class="header-left">

                        </div>
                        <div class="header-right d-flex flex-wrap mt-md-2 mt-lg-0">

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Contato</h4>
                            <p class="card-description">Preencha nosso formulário e fale com nossa equipe.</p>
                            <form class="forms-sample" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputCity1">Nome</label>
                                    <input type="text" name="nome" class="form-control" id="exampleInputCity1" placeholder="Nome completo">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputCity1">E-mail</label>
                                    <input type="email" name="email" class="form-control" id="exampleInputCity1" placeholder="E-mail">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputCity1">Assunto</label>
                                    <input type="text" name="assunto" class="form-control" id="exampleInputCity1" placeholder="Assunto">
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">Mensagem</label>
                                    <textarea class="form-control" name="mensagem" id="exampleTextarea1" rows="4"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2"> Enviar </button>

                            </form>
                        </div>
                    </div>


                    {% include 'includes/footer.html' %}

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        {% include 'includes/js.html' %}

</body>

</html>