{% load static %} {% load pwa %} {% progressive_web_app_meta %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Tô Aqui Festa - Cadastre-se anuncie para milhares de pessoas</title>
    <meta name=”description” content="Tô Aqui Festas - Encontre tudo que você precisa para sua festa, bolos, salgados, doces, animadores, brinquedos, sua festa começa aqui."> {% include 'includes/css.html' %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>



</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">


            {% include 'includes/header.html' %}


        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper pb-0">



                    <div class="row">





                        <div class="col-sm-12 stretch-card grid-margin">
                            <div class="card">
                                <center>
                                    <h6 style="padding: 10px 0px 10px 0px;">Aqui você acha todos os produtos e serviços para sua festa.</h6>
                                </center>

                            </div>
                        </div>




                        {% for categoria in lista_de_categorias %}

                        <div class="col-sm-4 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body p-0">
                                    <a href="{% url 'lista-de-categorias' categoria.pk %}"><img class="img-fluid w-100" src="{{ categoria.imagem.thumb.url }}" alt=""></a>
                                </div>
                                <div class="card-body px-3 text-dark">
                                    <div class="d-flex justify-content-between">
                                        <p class="text-muted font-13 mb-0">TÔ AQUI FESTAS</p>
                                        <i class="mdi mdi-heart-outline"></i>
                                    </div>
                                    <h5 class="font-weight-semibold"> {{ categoria.nome }} </h5>
                                    <div class="d-flex justify-content-between font-weight-semibold">
                                        <p class="mb-0">
                                            <i class="mdi mdi-star star-color pr-1"></i> <a href="{% url 'lista-de-categorias' categoria.pk %}">Ver</a></p>
                                        <p class="mb-0">Categoria</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}



                        <div class="col-sm-12 stretch-card grid-margin">
                            <div class="card">
                                <!-- Block-->
                                <section class="htmls">
                                    <section class="bodys">
                                        <section class="sections">
                                            <div class="container">
                                                <div class="section-title">
                                                    <h2>Depoimentos</h2>
                                                    <span class="section-separator"></span>
                                                    <p>O que as pessoas falam de nossos parceiros</p>
                                                </div>
                                            </div>
                                            <div class="testimonials-carousel-wrap">
                                                <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
                                                <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
                                                <div class="testimonials-carousel">
                                                    <div class="swiper-container">
                                                        <div class="swiper-wrapper">
                                                            {% for depoimento in lista_de_depoimentos %}
                                                            <!--second--->
                                                            <div class="swiper-slide">
                                                                <div class="testi-item">
                                                                    <div class="testi-avatar"><img src="{{ depoimento.imagem.thumb.url }}"></div>
                                                                    <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                                                                    <div class="testimonials-text">
                                                                        <div class="listing-rating">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                        <p>{{ depoimento.depoimento }}</p>
                                                                        <a href="#" class="text-link"></a>
                                                                        <div class="testimonials-avatar">
                                                                            <h3>{{ depoimento.nome }}</h3>
                                                                            <h4>{{ depoimento.empresa }}</h4>
                                                                        </div>
                                                                    </div>
                                                                    <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>
                                                                </div>
                                                            </div>
                                                            <!--third-->
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tc-pagination"></div>
                                            </div>
                                        </section>
                                    </section>
                                </section>
                                <!-- End Block-->
                            </div>
                        </div>



                        <div class="col-sm-6 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Block-->
                                    <div class="card-body">

                                        <div class="card-title">Reclamação ou elogios <small class="d-block text-muted">Preecha nossos formulário para fazer uma
                                            reclamação ou elogio
                                        </small>
                                        </div>
                                        <h4 class="card-title">Iremos averiguar cada reclamação para providenciarmos a exclusão do parceiro.</h4>

                                        <form class="forms-sample" method="post" enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="exampleInputUsername1">Nome Completo</label>
                                                <input type="text" name="nome" class="form-control" id="exampleInputUsername1" placeholder="Nome completo">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Telefone</label>
                                                <input type="text" name="telefone" class="form-control phone_with_ddd" id="exampleInputEmail1" placeholder="Telefone">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputPassword1">E-mail</label>
                                                <input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="E-mail">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputConfirmPassword1">Assunto</label>
                                                <input type="text" name="assunto" class="form-control" id="exampleInputConfirmPassword1" placeholder="Assunto">
                                            </div>
                                            <h6>Dados do parceiro</h6>
                                            <div class="form-group">
                                                <label for="exampleInputConfirmPassword1">Nome do parceiro</label>
                                                <input type="text" name="nome_do_parceiro" class="form-control" id="exampleInputConfirmPassword1" placeholder="Nome do parceiro ou empresa">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputConfirmPassword1">Arquivo</label>
                                                <input type="file" name="arquivo" class="form-control" id="exampleInputConfirmPassword1" placeholder="Nome do parceiro ou empresa">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputConfirmPassword1">Fatos</label>
                                                <textarea class="form-control" name="fatos" id="exampleTextarea1" rows="4"></textarea>
                                            </div>
                                            <div class="form-check form-check-flat form-check-primary">
                                                <label class="form-check-label">
                                                  <input type="checkbox" class="form-check-input" required > Estou ciente e quero continuar<i class="input-helper"></i></label>
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                                            <button class="btn btn-light">Cancelar</button>
                                        </form>
                                    </div>
                                    <!-- End Block-->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <p class="card-description">Não nos responsabilizamos pelos anúncios de nossos parceiros somos apenas um veículo de divulgação</p>



                                        <div class="d-flex text-muted font-20">
                                            <a href="https://api.whatsapp.com/send?phone=5521970688269" target="_blank"><i class="mdi mdi-whatsapp mouse-pointer"></i></a></i>
                                            <i class="mdi mdi-instagram mouse-pointer"></i>
                                        </div>

                                    </div>
                                    <h5>Dicas de segurança</h5>
                                    <h6>O que fazer para evitar possiveis golpes</h6>
                                    <p>
                                        - Tente fazer com parceiros que tenham referências (procure ver a página de depoimentos);<br> - Faça contratos e guarde todos os comprovantes de pagamento; <br> - Procure saber o endereço e, se puder, tente marcar
                                        uma visita para degustação e ver os produtos no endereço do parceiro. Isso ajudaria numa possível cobrança pessoalmente. <br> - Desconfie de valores muito baixos ou fora do padrão de mercado. <br> - Faça reclamação
                                        no site para que possamos excluir o golpista e não prejudicar outros clientes. <br>
                                    </p>
                                    <center>
                                        <h3>Clientes unidos = Golpistas banidos</h3>
                                    </center>
                                </div>

                                <img style="padding: 100px;" src="{% static 'assets/images/to-aqui-festas-classificados.svg' %}">
                            </div>
                        </div>


                        {% include 'includes/footer.html' %}

                        <!-- partial -->
                    </div>
                    <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
            </div>


            {% include 'includes/js.html' %}





</body>

</html>