{% load static %} {% load widget_tweaks %} {% load home_extras %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Encontre o serviço que você precisa - Tô Aqui Festas</title>

    {% include 'includes/css.html' %}

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <!-- custom css & js -->
    <script src={% static 'main.js' %} defer></script>
    <script src={% static 'semantic.js' %} defer></script>

</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">



            {% include 'includes/header.html' %}



        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper pb-0">


                    <div class="page-header flex-wrap">
                        <div class="header-left">
                        </div>
                        <div class="header-right d-flex flex-wrap mt-md-2 mt-lg-0">
                        </div>
                    </div>



                    <!-- Form Start -->
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card" style="background-color: yellow;">
                                <div class="card-body">
                                    <h4 class="card-title">Aqui você acha os melhores parceiros para sua festa</h4>
                                    <form id="myForm" method="GET" data-urlcities="{% url 'cities_choices_ajax' %}" data-urldistricts="{% url 'districts_choices_ajax' %}">
                                        <div class="form-group">
                                            {% render_field filtered_promocoes.form.titulo class="form-control" placeholder="Ex: confeiteiro..." %}
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputState">Estado</label> {% render_field form.state title="Estados" class="form-control" %}
                                            </div>

                                            <div class="form-group col-md-4">


                                                <label for="citySelect">Cidade</label>
                                                <select class="form-control" id="citySelect" name="cidade">
                                                        <option>---------------------</option>
                                                </select>

                                            </div>

                                            <div class="form-group col-md-4">

                                                <label for="districtSelect">Bairro</label>
                                                <select class="form-control" id="districtSelect" name="bairro">
                                                    <option>---------------------</option>
                                                </select>

                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Procurar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Form End -->

























                    {% for anuncio in person_page_obj %}

                    <div class="card">
                        <div class="card-body p-0">
                            <img class="img-fluid" src="../assets/images/dashboard/img_3.jpg" alt="">
                        </div>
                        <div class="card-body px-3 text-dark">
                            <div class="d-flex justify-content-between">
                                <p>{{ anuncio.categoria }}</p>

                                <i class="mdi mdi-heart-outline"></i>
                            </div>
                            <h5 class="d-block text-muted">{{ anuncio.titulo }}</h5>
                            <small class="d-block text-muted">{{ anuncio.endereco }}
                            </small>
                            <div class="d-flex justify-content-between font-weight-semibold">
                                <p class="mb-0">
                                    <i class="mdi mdi-cellphone star-color pr-1"></i>{{ anuncio.telefone }}</p>

                                <p class="mb-0">{{ anuncio.estado }} - {{ anuncio.cidade }} - {{ anuncio.bairro }} </p>

                            </div>
                            <h6>{{ anuncio.estado }}</h6>

                            <a class="btn btn-info" href="{{ anuncio.get_absolute_url }}">Ver</a>



                        </div>





                    </div>


                    {% endfor %}



                    <div class="pagination" style="margin: 30px 0px 30px 0px;">
                        <span class="step-links">

                            {% if person_page_obj.has_previous %}
                            <a href="{% my_url 1 'page' request.GET.urlencode %}"> &laquo;  Primeira</a>
                            <a href="{% my_url person_page_obj.previous_page_number 'page' request.GET.urlencode %}">Voltar</a>
                            {% endif %}

                            <span class="current">

                                Pa. {{ person_page_obj.number }} de {{ person_page_obj.paginator.num_pages }}

                            </span> {% if person_page_obj.has_next %}
                        <a href="{% my_url person_page_obj.next_page_number 'page' request.GET.urlencode %}"> Próxima</a>
                        <a href="{% my_url person_page_obj.paginator.num_pages 'page' request.GET.urlencode %}"> &raquo; Última</a> {% endif %}

                        </span>
                    </div>












                </div>
            </div>


            {% include 'includes/footer.html' %}


        </div>
    </div>
    </div>


    {% include 'includes/js.html' %}

</body>

<script>
    $('#id_state').change(function() {
        let urlCities = $('#myForm').data('urlcities');
        let ufIdCity = $(this).val();

        $.ajax({
            url: urlCities,
            data: {
                uf: ufIdCity
            },
            success: function(response) {
                $('#citySelect').html(response);
            }
        })
    });



    $('#citySelect').change(function() {
        let urlDistricts = $('#myForm').data('urldistricts');
        let cityIdDistrict = $(this).val();
        console.log(urlDistricts);
        console.log(cityIdDistrict);

        $.ajax({
            url: urlDistricts,
            data: {
                city: cityIdDistrict
            },
            success: function(response) {
                $('#districtSelect').html(response);
            }
        })
    });
</script>

</html>