{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista de anunciantes </title>

    {% include 'includes/css.html' %}


</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">



            {% include 'includes/header.html' %}



        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="page-header flex-wrap">
                        <div class="header-left">




                        </div>
                        <div class="header-right d-flex flex-wrap mt-md-2 mt-lg-0">






                        </div>
                    </div>




                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card" style="background-color:yellow;">
                                <div class="card-body">
                                    <h4 class="card-title">Aqui você acha os melhores parceiros para sua festa</h4>

                                    <form class="form-inline">
                                        <label class="sr-only" for="inlineFormInputName2">Estado</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Estado">
                                        <label class="sr-only" for="inlineFormInputName2">Cidade</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Cidade">
                                        <label class="sr-only" for="inlineFormInputName2">Bairro</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Bairro">
                                        <label class="sr-only" for="inlineFormInputName2">Bairro</label>
                                        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Bairro">






                                        <button type="submit" class="btn btn-primary mb-2"> Buscar </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>



                    {% for anuncio in lista_de_anuncios %}

                    <div class="card">
                        <div class="card-body p-0">
                            <img class="img-fluid" src="../assets/images/dashboard/img_3.jpg" alt="">
                        </div>
                        <div class="card-body px-3 text-dark">
                            <div class="d-flex justify-content-between">
                                <p>Categoria aqui</p>

                                <i class="mdi mdi-heart-outline"></i>
                            </div>
                            <h5 class="d-block text-muted">{{ anuncio.titulo }}</h5>
                            <small class="d-block text-muted">{{ anuncio.endereco }}
                              </small>
                            <div class="d-flex justify-content-between font-weight-semibold">
                                <p class="mb-0">
                                    <i class="mdi mdi-star star-color pr-1"></i>{{ anuncio.telefone }}</p>
                                <p class="mb-0">Estado - Cidade</p>

                            </div>
                            <h6>Estado</h6>
                            <button type="button" class="btn btn-info" style="margin-top: 10px;">Info</button>

                        </div>
                    </div>

                    {% endfor %}











                </div>
            </div>



















            {% include 'includes/footer.html' %}


        </div>
    </div>
    </div>


    {% include 'includes/js.html' %}

</body>

</html>