{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Tô Aqui Festa - Cadastre-se anúncie para milhares de pessoas</title>

    {% include 'includes/css.html' %}


</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">


            {% include 'includes/header.html' %}


        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper pb-0">



                    <div class="row">
                        <div class="col-sm-12 stretch-card grid-margin">
                            <div class="card">
                                <!-- Planos Area Start -->
                                <section style="padding: 30px;">
                                    <h1 class="bd-title" id="content">Anúncie seu serviço em nossa plataforma</h1>
                                    <p style="margin-bottom: 30px;">...</p>
                                    <div class="card-deck mb-3 text-center">
                                        <div class="card mb-4 box-shadow">
                                            <div class="card-header" style="background-color: #ec443b; color: #fff;">
                                                <h4 class="my-0 font-weight-normal">Básico</h4>
                                            </div>
                                            <div class="card-body">
                                                <h1 class="card-title pricing-card-title">R$ 10,00 <small class="text-muted">Mês</small></h1>
                                                <ul class="list-unstyled mt-3 mb-4">
                                                    <li>Plano de 1 anúncio</li>
                                                    <li>Um mês de duração</li>
                                                </ul>
                                                <a href="/basico" class="btn btn-lg btn-block btn-success btn-outline-primary">Comprar </a>
                                                <a href="/renovacao" class="btn btn-lg btn-block btn-success btn-outline-primary">Renovar</a>
                                            </div>
                                        </div>
                                        <div class="card mb-4 box-shadow">
                                            <div class="card-header" style="background-color: #ec443b; color: #fff;">
                                                <h4 class="my-0 font-weight-normal">Clássico</h4>
                                            </div>
                                            <div class="card-body">
                                                <h1 class="card-title pricing-card-title">R$ 15,00 <small class="text-muted">Mês</small></h1>
                                                <ul class="list-unstyled mt-3 mb-4">
                                                    <li>Plano de 2 anúncios</li>
                                                    <li>Um mês de duração</li>
                                                </ul>
                                                <a href="/classico" class="btn btn-lg btn-block btn-success btn-outline-primary">Comprar </a>
                                                <a href="/renovacao" class="btn btn-lg btn-block btn-success btn-outline-primary">Renovar</a>
                                            </div>
                                        </div>
                                        <div class="card mb-4 box-shadow">
                                            <div class="card-header" style="background-color: #ec443b; color: #fff;">
                                                <h4 class="my-0 font-weight-normal">Premium</h4>
                                            </div>
                                            <div class="card-body">
                                                <h1 class="card-title pricing-card-title">R$ 24,00 <small class="text-muted">Mês</small></h1>
                                                <ul class="list-unstyled mt-3 mb-4">
                                                    <li>Plano de 4 anúncios</li>
                                                    <li>Um mês de duração</li>

                                                </ul>
                                                <a href="/premium" class="btn btn-lg btn-block btn-success btn-outline-primary">Comprar </a>
                                                <a href="/renovacao" class="btn btn-lg btn-block btn-success btn-outline-primary">Renovar</a>
                                                <p style="padding-top: 10px;">Ganhe um anúncio adicional na página promoção</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- Planos Area End -->
                            </div>
                        </div>
                    </div>


                    {% include 'includes/footer.html' %}

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        {% include 'includes/js.html' %}

</body>

</html>