{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>To Aqui Festas - Política de privacidade</title>
    <meta name="robots" content="noindex" /> {% include 'includes/css.html' %}

</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">


            {% include 'includes/header.html' %}


        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="page-header flex-wrap">
                        <div class="header-left">

                        </div>
                        <div class="header-right d-flex flex-wrap mt-md-2 mt-lg-0">

                        </div>
                    </div>

                    <!-- image card row starts here -->
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Política de privacidade</h4>
                                    <p class="card-description">






                                        Esta Política de privacidade descreve como suas informações pessoais são coletadas, usadas e compartilhadas quando você visita, preenche o formulário, publica anúncios ou faz qualquer uso do site tô aqui festas. Esta política de Privacidade não se aplica
                                        para sites de terceiros, ainda que você os acesse por links contidos no site. A Tô aqui festas não se responsabiliza por estes sites e conteúdos e, ainda, não compartilha, subscreve, monitora, valida ou aceita a
                                        forma como esses sites ou ferramentas de armazenamento de conteúdo coletam, processam e transferem suas informações pessoais.<br> Índice
                                        <br> 1 - INFORMAÇÕES PESSOAIS QUE COLETAMOS<br> 2 - USO DAS INFORMAÇÕES PESSOAIS<br> 3 - COMPARTILHAMENTO DE SUAS INFORMAÇÕES PESSOAIS<br> 4 – RESPONSABILIDADES DO USUÁRIO/ANUNCIANTE<br> 5 – DIREITOS DO USUÁRIO/ANUNCIANTE<br>                                        6 - MENORES DE IDADE<br> 7 – SITE DE TERCEIROS <br> 8 – ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE<br> 9 - MUDANÇAS<br> 10 - FALE CONOSCO<br><br> 1 - INFORMAÇÕES PESSOAIS QUE COLETAMOS<br> Quando você visita o
                                        Site, coletamos automaticamente determinadas informações sobre o seu dispositivo, incluindo informações sobre seu navegador da web, endereço IP, fuso horário e de alguns dos cookies instalados no seu dispositivo.
                                        Além disso, à medida que você navega no Site, coletamos informações sobre as páginas da web ou produtos individuais que você visualiza, quais sites ou termos de pesquisa que indicaram o Site a você e informações
                                        sobre como você interage com o Site. Referimo-nos a essa informação coletada automaticamente como "Informações do dispositivo". 1.1 – Obtenção das informações coletadas, recebidas e armazenadas: a) Usuário/anunciante
                                        Quando o usuário/anunciante preenche o formulário no site tô aqui festas, nós coletamos algumas informações, como o seu nome, CPF, endereço, telefone, e-mail, endereços IP, servidores de domínio, tipos de computadores
                                        que acessam nosso site, tipos de navegadores web e outras informações dentro da nossa plataforma para que possamos identificar individualmente. Após a realização de ações entendemos que você está de acordo com a
                                        coleta de dados para serem utilizados pelo tô aqui festas. Nós poderemos compartilhar essas informações pessoais e utiliza-las de acordo com esta política de privacidade. b) Usuário/Cliente Caso precisem entrar
                                        em contato com o nosso departamento de atendimento, a tô aqui festas pode coletar as informações pessoais necessárias para atender seu pedido e contatá-lo, bem como informações sobre suas comunicações com a tô aqui
                                        festas; c) Endereços IP, cookies e identificadores Seu endereço IP e outros dados relativos à sua conexão poderão ser utilizados para personalizar os nossos serviços e ajudar a compreender como os Usuários utilizam
                                        os Sites.  O site e o aplicativo tô aqui festas e as mensagens de e-mail poderão usar cookies e outras tecnologias. Nós tratamos essas informações obtidas por meio de cookies e outras tecnologias como informações
                                        não pessoais. Entretanto, na medida em que o endereço de IP (Internet Protocol) ou identificadores semelhantes sejam considerados informações pessoais pela lei local, nós também trataremos esses identificadores
                                        como informação pessoal. Da mesma forma, na medida em que a informação não-pessoal seja combinada com informação pessoal, nós tratamos a informação combinada como informação pessoal para os fins desta Política de
                                        Privacidade. Caso deseje bloquear os cookies, consulte as orientações do seu navegador.<br><br> 2 - USO DAS INFORMAÇÕES PESSOAIS<br> Nós criamos seu anúncio baseado nas informações pessoais fornecidas por você no
                                        preenchimento do formulário. Quando você anuncia no site ou aplicativo tô aqui festas, além das informações do produto e/ou serviços anunciado, serão divulgadas algumas informações do seu perfil, como seu nome,
                                        telefone, endereço, e-mail, facebook e Instagram preenchidos no formulário. Seus anúncios ficam visíveis a terceiros, podendo ser listadas como resultados de ferramentas de pesquisa. Além disso, usamos essas Informações
                                        para: -Nos comunicarmos com você. Essas informações são importantes para a sua interação com o site Tô aqui festas, você não poderá optar por não receber esse tipo de comunicação. - Nós usamos as Informações do
                                        dispositivo que coletamos para nos ajudar a rastrear possíveis riscos e fraudes (especificamente seu endereço IP) e, de forma mais geral, para melhorar e otimizar o nosso Site (por exemplo, gerando análises sobre
                                        como nossos clientes navegam e interagem com o Site, e para avaliar o sucesso das nossas campanhas de marketing e publicidade).<br><br> 3 - COMPARTILHAMENTO DE SUAS INFORMAÇÕES PESSOAIS<br> Nós compartilhamos suas
                                        Informações pessoais com terceiros, com outros usuários, parceiros de negócio e prestadores de serviços, que sejam relevantes para fins de viabilizar a prestação de serviço. Por exemplo, nós usamos o Google Analytics
                                        para nos ajudar a entender como nossos clientes usam o Site. Você pode ler mais sobre como o Google usa suas Informações pessoais aqui: https://www.google.com/intl/pt-BR/policies/privacy/. Você também pode desativar
                                        o Google Analytics aqui: https://tools.google.com/dlpage/gaoptout. 3.1 – Usuário/Cliente – Compartilhamento dos dados que sejam informados quando o usuário/cliente entrar em contato para preenchimento do formulário
                                        de depoimentos, denúncias, reclamações, etc. 3.2 – Usuário/anunciante – Quando você anuncia seu produto e/ou serviço, os usuários clientes poderão ver suas informações. Informações confidenciais como seu CPF são
                                        tratados com a devida confidencialidade. 3.3 – Órgão reguladores, autoridades judiciais ou administrativas e outros - Podemos também compartilhar suas Informações pessoais para cumprir com as leis e regulamentos
                                        cabíveis, para responder a uma intimação, mandado de busca ou outra solicitação legal de informações que recebermos, ou para proteger nossos direitos. Com a sua autorização, em outros casos não previstos acima,
                                        havendo o objetivo de compartilhamento dos dados pessoais e informações, enviaremos você uma notificação com informações a respeito de tal compartilhamento para solicitar o seu consentimento, para finalidade determinada.
                                        <br><br> 4 – RESPONSABILIDADES DO USUÁRIO/ANUNCIANTE<br> Quaisquer informações que os usuários/anunciantes compartilharem em anúncios é de sua própria responsabilidade. Você deve considerar o risco de publicar informações
                                        pessoais – especialmente informações como endereço ou localização precisa. Um usuário pode copiar/fotografar seus dados e circular fora do site. A Tô aqui festas não tem responsabilidade por atos de terceiros que
                                        ocorram em decorrência das informações que você tornou publicamente disponível a usuários/clientes.<br><br> 5 – DIREITOS DO USUÁRIO/ANUNCIANTE<br> O usuário/anunciante poderá, a qualquer momento, alterar e editar
                                        os seus dados pessoais que estejam incompletos, inexatos ou desatualizados, enviando um e-mail ou mensagem pelo whatsapp. O usuário/anunciante poderá, a qualquer momento, solicitar a anonimização, bloqueio ou eliminação
                                        de dados desnecessários, excessivos ou tratados em desconformidade com a legislação aplicável.<br><br> 6 – MENORES DE IDADE<br> O Site não é destinado para pessoas com menos de 18 anos.<br><br> 7 – SITE DE TERCEIROS<br>                                        Podemos disponibilizar links para outros sites na Internet. A tô aqui festas NÃO SE RESPONSABILIZA POR ESTES SITES E CONTEÚDOS E, AINDA, NÃO COMPARTILHA, SUBSCREVE, MONITORA OU VALIDA A FORMA COMO ESSES SITES OU
                                        FERRAMENTAS DE ARMAZENAMENTO DE CONTEÚDO COLETAM, PROCESSAM E TRANSFEREM SUAS INFORMAÇÕES PESSOAIS E PRIVADAS. Recomendamos que você consulte as respectivas políticas de privacidade de tais sites para se informar
                                        adequadamente a respeito do uso de suas informações pessoais por outros sites ou outras ferramentas. Entretanto, certos fornecedores de serviços terceirizados, tais como gateways de pagamento e outros processadores
                                        de transação de pagamento, têm suas próprias políticas de privacidade com respeito à informação que somos obrigados a fornecer para eles de suas transações relacionadas com compras. Para esses fornecedores, recomendamos
                                        que você leia suas políticas de privacidade para que você possa entender a maneira na qual suas informações pessoais serão usadas por esses fornecedores. Em particular, lembre-se que certos fornecedores podem ser
                                        localizados em ou possuir instalações que são localizadas em jurisdições diferentes que você ou nós. Assim, se você quer continuar com uma transação que envolve os serviços de um fornecedor de serviço terceirizado,
                                        então suas informações podem tornar-se sujeitas às leis da(s) jurisdição(ões) nas quais o fornecedor de serviço ou suas instalações estão localizados. Uma vez que você deixe o site tô aqui festas ou seja redirecionado
                                        para um aplicativo ou site de terceiros, você não será mais regido por essa Política de Privacidade ou pelos Termos de Serviço do nosso site. Links Quando você clica em links no site tô aqui festas, eles podem lhe
                                        direcionar para fora do nosso site. Não somos responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de privacidade deles.<br><br> 8 – ALTERAÇÕES PARA ESSA POLÍTICA DE
                                        PRIVACIDADE
                                        <br> Reservamos o direito de modificar essa política de privacidade a qualquer momento, então por favor, revise-a com frequência. Alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação
                                        no site. Se fizermos alterações de materiais para essa política, iremos notificá-lo aqui que eles foram atualizados, para que você tenha ciência sobre quais informações coletamos, como as usamos, e sob que circunstâncias,
                                        se alguma, usamos e/ou divulgamos elas. Se o Tô aqui festas for adquirido ou fundido com outra empresa, suas informações podem ser transferidas para os novos proprietários para que possamos continuar a anunciar
                                        seus produtos e/ou serviços.<br><br> 9 - MUDANÇAS<br> Nós podemos atualizar esta Política de privacidade periodicamente para refletir, por exemplo, mudanças em nossas práticas ou por outros motivos operacionais,
                                        legais ou regulamentares.<br><br> 10 - FALE CONOSCO<br> Para saber mais sobre nossas práticas de privacidade, caso tenha dúvidas ou se quiser fazer uma reclamação, entre em contato conosco por e-mail em suporte@toaquifestas.com.br.








                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'includes/footer.html' %}

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>


        {% include 'includes/js.html' %}

</body>

</html>