{% load static %}

<footer class="footer">
    <div class="container">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tô Aqui Festas 2022</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Leia nossa pollítica de <a href="https://www.nexxt.space/" target="_blank">privacidade</a> - To Aqui Festas</span>
        </div>

        <div>
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"> Desenvolvido por: <a href="https://nexxt.space/" target="_blank">Nexxt</a></span>
        </div>
    </div>
</footer>