{% load static %}

<script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'assets/vendors/jquery-bar-rating/jquery.barrating.min.js' %}"></script>
<script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'assets/vendors/flot/jquery.flot.js' %}"></script>
<script src="{% static 'assets/vendors/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'assets/vendors/flot/jquery.flot.categories.js' %}"></script>
<script src="{% static 'assets/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
<script src="{% static 'assets/js/off-canvas.js' %}"></script>
<script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'assets/js/misc.js' %}"></script>
<script src="{% static 'assets/js/settings.js' %}"></script>
<script src="{% static 'assets/js/todolist.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>

<!-- Swiper Script -->
<script src="{% static 'assets/js/swiper.js' %}"></script>

<!-- Máscaras JavaScript-->
<script src="{% static 'assets/js/mascara.js' %}"></script>
<script src="{% static 'assets/js/jquery.mask.min.js' %}"></script>
<script src="{% static 'assets/js/mascara2.js' %}"></script>


<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>